body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}
.ball {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    animation: ballAnimation 5s infinite;
}

@keyframes ballAnimation {
    0% {
    transform: translate(-50%, -50%) scale(1);
    }
    25% {
    transform: translate(50%, -50%) scale(0.5);
    }
    50% {
    transform: translate(50%, 50%) scale(1);
    }
    75% {
    transform: translate(50%, -50%) scale(0.5);
    }
    100% {
    transform: translate(-50%, -50%) scale(1);
    }
}
